
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_LookupMaster_DeleteFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LookupMaster] DROP CONSTRAINT [DF_LookupMaster_DeleteFlag]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_LookupItem_DeleteFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LookupItem] DROP CONSTRAINT [DF_LookupItem_DeleteFlag]
END
GO
/****** Object:  Table [dbo].[LookupMasterItem]    Script Date: 12/6/2017 12:44:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LookupMasterItem]') AND type in (N'U'))
DROP TABLE [dbo].[LookupMasterItem]
GO
/****** Object:  Table [dbo].[LookupMaster]    Script Date: 12/6/2017 12:44:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LookupMaster]') AND type in (N'U'))
DROP TABLE [dbo].[LookupMaster]
GO
/****** Object:  Table [dbo].[LookupItem]    Script Date: 12/6/2017 12:44:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LookupItem]') AND type in (N'U'))
DROP TABLE [dbo].[LookupItem]
GO
/****** Object:  Table [dbo].[LookupItem]    Script Date: 12/6/2017 12:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LookupItem]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LookupItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[DisplayName] [varchar](200) NOT NULL,
	[DeleteFlag] [bit] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LookupMaster]    Script Date: 12/6/2017 12:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LookupMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LookupMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NULL,
	[DisplayName] [varchar](250) NULL,
	[DeleteFlag] [bit] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LookupMasterItem]    Script Date: 12/6/2017 12:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LookupMasterItem]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LookupMasterItem](
	[LookupMasterId] [int] NOT NULL,
	[LookupItemId] [int] NOT NULL,
	[DisplayName] [varchar](250) NULL,
	[OrdRank] [decimal](5, 2) NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LookupItem] ON 
GO
INSERT [dbo].[LookupItem] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (1, N'FP', N'Family Planning', 0)
GO
INSERT [dbo].[LookupItem] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (2, N'NOFP', N'No Family Planning', 0)
GO
INSERT [dbo].[LookupItem] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (3, N'WFP', N'Wants Family Planning', 0)
GO
SET IDENTITY_INSERT [dbo].[LookupItem] OFF
GO
SET IDENTITY_INSERT [dbo].[LookupMaster] ON 
GO
INSERT [dbo].[LookupMaster] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (1, N'FPMethod', N'FP Method', 0)
GO
INSERT [dbo].[LookupMaster] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (2, N'Entrypoint', N'Entry point', 0)
GO
INSERT [dbo].[LookupMaster] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (3, N'VisitType', N'Visit Type', 0)
GO
SET IDENTITY_INSERT [dbo].[LookupMaster] OFF
GO
INSERT [dbo].[LookupMasterItem] ([LookupMasterId], [LookupItemId], [DisplayName], [OrdRank]) VALUES (89, 1436, N'Myelodysplastic syndrome NOS  ', CAST(880.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[LookupMasterItem] ([LookupMasterId], [LookupItemId], [DisplayName], [OrdRank]) VALUES (89, 1434, N'Refractory anaemia with excess of blasts  ', CAST(878.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[LookupMasterItem] ([LookupMasterId], [LookupItemId], [DisplayName], [OrdRank]) VALUES (89, 1433, N'Refractory anaemia with sideroblasts  ', CAST(877.00 AS Decimal(5, 2)))
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_LookupItem_DeleteFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LookupItem] ADD  CONSTRAINT [DF_LookupItem_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_LookupMaster_DeleteFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LookupMaster] ADD  CONSTRAINT [DF_LookupMaster_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
END
GO
