<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement" />
  </configSections>
  <appSettings>
    <add key="SessionTimeOut" value="480" />
    <add key="CommandTimeOut" value="900" />
    <add key="tcpChannel" value="8001" />
    <add key="MessageRepository" value="IQCareMessage.xml" />
    <add key="ServiceName" value="IQCare Service" />
    <add key="IQToolsNextRefreshDateTime" value="2014-04-07 16:10:23" />
    <add key="IQToolsRefreshInterval" value="180" />
    <add key="AppointmentUpdateInterval" value="60" />
    <add key="DatabaseBackupInterval" value="720" />
    <add key="IQToolsInitializationProcedures" value="bWLWLYlC5Co+hWeby+6n/szF5VkFPPYAMayrd/nHTPYSQc6nMGUYq/BzLeugiHqAP3VubVOy7trkPo73zMUr25AK/XAhzjjWwR44c4/PBDy90a7jZF8gCRSckv3B5GAoi5YaOxN+N8z76h0SetXEGlx753f/pyoVzRLYjMWDxFXNNV4WZmJ31Qfv0Rs3F1IItGHckpQnHr7Iin0la+HNV20LhVGtoByQVN2NCSUauwcbEgBHAGDMX1S6sbr4vPuaG8kSfF5fwK8RD/TnLyMv6GuIG7qNhGqky45jSwTpN9Qd3jRI/naYaqU6u/aY2fTAunYij6nYG7KGfIx4HlCoHUHaJ7pQAfVr0rqC3W6u+zorktir2Vi8hQABUvoCTYHYJjtRKbAKvIxh6ck0FLYH4elc5p2bLIJGLKPvxD7PdLkCTi6b3K0ZgWxNuxDdgQpyf1z1L5wNv8D3GPrUpapn0mDOYJvkLWqr7D553pxQcUqKu88nH1+rF1ik4RRo+BKOobs9FsJOXyRMVSp9wxnI84nKEDrbTfIQTk+Z7C4ByoVO7EfGrfknb/j+BEY9LJ/4dvcZ3dbQ2uy91DhVao+euVyYcMXnE1iyNFtRTEXu3fsmyXxAcGmQJhNgH01vfSoUkxWg/HV7oLSznjhnKZc95w==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AppointmentSchedule" value="Appointment.Update" />
    <add key="IQToolsSchedule" value="IQTools.Update" />
    <add key="BackupSchedule" value="Database.Backup" />
    <add key="AppointmentNextUpdate" value="2018-06-12 11:12:30" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8001" />
        <clientProviders>
          <formatter ref="binary" />
        </clientProviders>
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full" />
        </serverProviders>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>